.root {
  height : '100vh';
  background-color: #9d67db;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "income expens target"
    ". balance .";
  grid-gap: 0.3em;
}
.main section:nth-child(1) {
  grid-area: income;
}
.main section:nth-child(2) {
  grid-area: expens;
}
.main section:nth-child(3) {
  grid-area: target;
}
.main section:nth-child(4) {
  grid-area: balance;
}

[id*="form"] {
  padding: 0.5em;
  margin: 0.2em;
  border-color: thistle;
  box-shadow: 3px 3px 1px 1px slategray;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 0.2em;
}

ul {
  list-style-type: none;
  margin: 0.3em 0;
  padding: 0;
}
ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
ul li p {
  margin: 0;
}
.error {
  color: red;
  font-weight: bold;
}
#listExpense,
#listIncome {
  max-height: 250px;
  overflow-y: auto;
}
@media only screen and (max-width: 800px) {
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "income expens"
      "target balance";
  }
}
@media only screen and (max-width: 500px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "income"
      "expens"
      "balance"
      "target";
    grid-gap: 0.2em;
  }
}
@media only screen and (max-height: 600px) and (min-width: 800px) {
  .main {
    grid-template-areas:
      "income expens target"
      "income expens balance";
  }
}
